@import url('http://fonts.cdnfonts.com/css/subway-ticker');

:root {
  /* colors */
  --background-color: radial-gradient(circle, rgba(21,129,194,1) 0%, rgba(18,81,119,1) 84%);
  --calculator-color: rgb(200, 200, 200);
  --screen-color: rgb(224, 224, 224);
  --num-btn-color: rgb(96, 165, 255);
  --num-btn-active: rgb(81, 138, 212);
  --operator-btn-color: rgb(231, 212, 34);
  --operator-btn-active: rgb(185, 169, 24);
  --special-btn-color: rgb(150, 150, 150);
  --special-btn-active: rgb(120, 120, 120);
  --font-color: rgb(0,0,0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events:none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 100px repeat(5, 80px);
  gap: 10px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--calculator-color);
}

.screen {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 10px 0px;
  padding: 5px 10px;  
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--screen-color);
  text-align: end;
  font-family: 'Subway Ticker', sans-serif;
  font-size: 50px;
  font-weight: 500;
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  transition: 50ms;
  pointer-events: all;
}

.button:hover {
  box-shadow: 0 0 5px black;
}

.button[disabled] {
  color: var(--font-color);
}

.number {
  background-color: var(--num-btn-color);
}

.number:active {
  background-color: var(--num-btn-active);
}

.special {
  background-color: var(--special-btn-color);
}

.special:active {
  background-color: var(--special-btn-active);
}

.operator {
  background-color: var(--operator-btn-color);
}

.operator:active {
  background-color: var(--operator-btn-active);
}

.double {
  grid-column-start: 1;
  grid-column-end: 3;
}